
body{
	font-size:18px;  /* 字體大小 */
	color:rgb(194, 242, 248);  /* 字體顏色 */
	/* width: 860px;  將 body 寬度固定為 860 像素 */
	margin: 0 auto; /* 網頁置中 */
	background-color: #3e444b;  /* 桌面背景顏色 */
	/*padding: 0 18px 18px 18px;*/
	border: 2px solid rgb(162, 247, 106); /* border 邊框 */
	}

ul, a{
	font-size: 20px;
	color:rgb(255, 217, 0);
	line-height: 2;
	letter-spacing: 1px;
	}
